# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
env/
build/
pulp.egg-info/

# Checkpoints directory
checkpoints

# Dialog output dumps
dialog_output/results

# IPython Notebook
.ipynb_checkpoints

# virtualenv
venv/
ENV/

# data
data/*.pth
data/*.json
*.pickle
